#container {
  position: relative;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 4;
}
#rho .line {
  fill: #9df;
}
#block rect {
  stroke: #000;
  stroke-width: 2;
}
#block .p {
  fill: #9df;
}
#block .pdep {
  fill: #09f;
}
#block .ndep {
  fill: #f60;
}
#block .n {
  fill: #fb9;
}
#overlay {
  position: absolute;
  top: 0;
  z-index: -1;
}
#overlay .line {
  stroke-width: 2;
  stroke-dasharray: 10, 5, 5, 5;
  stroke: rgba(0,0,0,0.533);
}
